<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/dashboard.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="images/assets/iot.png" />
  <script src="javascripts/dashboard.js" defer></script>
  <script src="javascripts/settings.js" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/6faef4fc76.js" crossorigin="anonymous"></script>
  <title><%- title %></title>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Amarante");

    ol,
    ul {
      list-style: none;
    }

    input,
    textarea {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
    }

    blockquote,
    q {
      quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
      content: "";
      content: none;
    }

    strong,
    b {
      font-weight: bold;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    img {
      border: 0;
      max-width: 100%;
    }

    h1 {
      font-family: "Amarante", Tahoma, sans-serif;
      font-weight: bold;
      font-size: 3.6em;
      line-height: 1.7em;
      margin-bottom: 10px;
      text-align: center;
    }

    /** page structure **/
    #wrapper {
      display: block;
      background: #fff;
      margin: 0 auto;
      padding: 10px 17px;
      -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
    }

    #keywords {
      margin: 0 auto;
      font-size: 1.2em;
      margin-bottom: 15px;
    }

    #keywords thead {
      cursor: pointer;
      background: #c9dff0;
    }

    #keywords thead tr th {
      font-weight: bold;
      padding: 12px 30px;
      padding-left: 42px;
    }

    #keywords thead tr th span {
      padding-right: 20px;
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }

    #keywords thead tr th.headerSortUp,
    #keywords thead tr th.headerSortDown {
      background: #acc8dd;
    }

    #keywords thead tr th.headerSortUp span {
      background-image: url("https://i.imgur.com/SP99ZPJ.png");
    }

    #keywords thead tr th.headerSortDown span {
      background-image: url("https://i.imgur.com/RkA9MBo.png");
    }

    #keywords tbody tr {
      color: #555;
    }

    #keywords tbody tr td {
      text-align: center;
      padding: 15px 10px;
    }

    #keywords tbody tr td.lalign {
      text-align: left;
    }
  </style>
</head>

<body>
  <p id="user_id" style="visibility: hidden; position: absolute;"><%- user.id %></p>
  <%- include('../partials/dashboard-sidebar.ejs') %>
  <main>
    <%- include('../partials/dashboard-header.ejs') %>
    <%- body %>
  </main>
</body>

</html>