<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/dashboard.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="images/assets/iot.png" />
  <script src="javascripts/dashboard.js" defer></script>
  <script src="javascripts/device.js" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/6faef4fc76.js" crossorigin="anonymous"></script>
  <title><%- title %></title>
</head>

<body>
  <p id="user_id" style="visibility: hidden; position: absolute;"><%- user.id %></p>
  <%- include('../partials/dashboard-sidebar.ejs') %>
  <main>
    <%- include('../partials/dashboard-header.ejs') %>
    <%- body %>
  </main>
</body>

</html>